%footer
  .footer__i
    .footer__ii
      %p.footer__descr
        Если вы нашли ошибку, если вы хотите помочь как аналитик, эксперт, донор, напишите нам на
        %a{href: 'mailto:think@tank.pm'} think@tank.pm
      %p.footer__copy
        © 2015 Танк

